@use './../../utils/style/variables.scss';

.allStars {
    display: flex;
    color: variables.$mainColor;
    gap: 2px;
    font-size: 18px;
}

@media (min-width : 1040px) {
    .allStars {
        gap: 4px;
        font-size: 36px;
    }
}