@use './../../utils/style/variables.scss';

.allStarsNote {
    position: relative;
}

.allStars {
    display: flex;
    color: variables.$mainColor;
    gap: 2px;
    font-size: 18px;
}

.ratingBubule {
    font-size: 12px;
    color: variables.$mainColor;
    min-width: 80px;
    background-color: variables.$secondaryBackgroundColor;
    text-align: center;
    padding: 5px;
    margin: 0;
    border-radius: 4px;
    visibility: hidden;
    /* Position de la bulle */
    position: absolute;
    z-index: 1;
    top: 50%;
    left: calc(100% + 5px);
    transform: translateY(-50%);
    /* Animation */
    opacity: 0;
    transition: opacity 0.3s;
}

.allStars:hover+.ratingBubule {
    opacity: 1;
    visibility: visible;
}

@media (min-width : 769px) {
    .allStars {
        gap: 4px;
        font-size: 36px;
    }

    .ratingBubule {
        font-size: 18px;
        min-width: 110px;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 8px;

        /* Position de la bulle */
        left: calc(-100% + 60px);
    }
}