@use './../../utils/style/variables.scss';


.collapse {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.collapseHeader {
    background-color: variables.$mainColor;
    color: variables.$titleColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    height: 30px;
    padding: 0px 12px 0px 10px;
    z-index: 1;
}

h3 {
    font-size: 13px;
    font-weight: 700;
}

.chevron {
    height: 18px;
    transition: transform 0.3s ease; // Animation fluide pour la rotation
}

.open .chevron {
    transform: rotate(-180deg); // Rotation lorsque l'état est ouvert
}

.collapseDescription {
    background-color: variables.$secondaryBackgroundColor;
    // background-color: red;
    font-size: 12px;
    padding: 0px 20px; // état initial du padding à 0
    margin: 0;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    top: -5px;
    max-height: 0; // Masque la description par défaut
    overflow: hidden; // Cache le contenu débordant
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out; //Transition fluide
    gap: 2px;
    display: flex;
    flex-direction: column;
}

.collapseHeader.open+.collapseDescription {
    max-height: 500px; // hauteur maximale nécessaire
    padding: 18px 20px 19px 20px;
}

.descriptionList {
    margin: 0;
}

@media (min-width : 1040px) {
    .collapseHeader {
        border-radius: 5px;
        height: 54px;
        padding: 0px 21px 0px 15px;
        border-radius: 10px;
    }

    h3 {
        font-size: 18px;
    }

    .chevron {
        height: 24px;
    }

    .collapseDescription {
        font-size: 18px;
        gap: 5px;
        border-radius: 0px 0px 10px 10px;
    }

    .collapseHeader.open+.collapseDescription {
        padding: 21px 20px 20px 20px;
    }
}