// Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$defaultFont: 'Montserrat', sans-serif;

// Colors
$defaultBackgroundColor : #FFFFFF;
$defaultFontColor : #000000;
$mainColor : #FF6060;

$defaultBackgroundFooter : #000000;
$defaultFooterFontColor : #ffffff;