@use './../../utils/style/variables.scss';

.collapseContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1240px;
    margin: 0px 20px 19px 20px;
}

@media (min-width : 1040px) {
    .collapseContent {
//         flex-direction: row;
//         flex-wrap: wrap;
//         justify-content: center;
//         align-content: flex-start;
//         align-items: flex-start;
//         gap: 50px 60px;
//         background-color: variables.$secondaryBackgroundColor;
        margin: 27px 208.5px 50px 208.5px;
//         padding-top: 56px;
//         padding-bottom: 43px;
//         padding-left: 50px;
//         padding-right: 50px;
//         border-radius: 25px;
    }
}